.container__login {
    border: red 2px solid;
    margin: auto;
    width: 500px;
    max-width: 90%;
    color: white;
}

.container__login form {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 24px;
}

.container__login form h1{
    text-align: center;
    margin-bottom: 24px;
}

.container__login form .form__control {
    width: 100%;
    height: 30px;
    margin: 10px 0 18px  0;
    padding: 0 10px;
}

.submit__button {
    margin-left: 40%;
    width: 100px;
    height: 30px;
}


